html, body {
  margin: 0;
  padding: 0; }

body {
  background: #ebebeb url(../images/bg_body.gif);
  color: #555;
  border-top: 3px solid #555;
  font-family: Arial, Helvetica, sans-serif; }

#wrapper {
  width: 784px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2 url(../images/bg_crosshatch.gif);
  margin: 40px auto 20px auto; }

#main {
  width: 700px;
  border: 1px solid #fff;
  background: #fff url(../images/bg_header_line.gif) no-repeat 2px 2px;
  margin: 40px auto; }

#wrapper, #main {
  border-radius: 3px; }

.col-wrap {
  padding: 60px 40px 20px 40px; }
  .col-wrap .section {
    position: relative; }
  .col-wrap .col-1, .col-wrap .col-2, .col-wrap .col-3 {
    display: inline;
    float: left;
    position: relative;
    margin-right: 20px; }
  .col-wrap .col-1 {
    width: 140px; }
  .col-wrap .col-2 {
    width: 300px; }
  .col-wrap .col-3 {
    width: 460px; }
  .col-wrap .col-end {
    margin-right: 0;
    padding-bottom: 18px; }

.right {
  float: right; }

.center {
  text-align: center; }

.hidden {
  display: none; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.shadow {
  box-shadow: 0 3px 3px #ccc; }

body, h4, h5 {
  font-size: 13px;
  line-height: 20px; }

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0 0 15px 0;
  padding: 0; }

h1 {
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 20px;
  margin-left: -5px;
  font-weight: bold;
  letter-spacing: -2.5px;
  text-shadow: 0px 0px 2px #999; }

h2 {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 60px;
  color: #999;
  word-spacing: -1px;
  letter-spacing: -0.5px;
  text-shadow: 0px 0px 2px #f0f0f0;
  padding-bottom: 20px; }

h4, h5 {
  margin: 0; }

h4 {
  font-weight: bold; }

h5 {
  color: #999; }

a {
  outline: 0; }
  a:link {
    color: #6fa7cf; }
  a:visited {
    color: #adc1cf; }
  a::hover {
    color: #466982; }
  a:active {
    color: #6fa7cf; }
  a.guild {
    color: #999;
    text-decoration: none; }
    a.guild:hover {
      color: #6fa7cf;
      text-decoration: underline; }
  a img {
    border: 0;
    border-radius: 3px; }

p {
  margin: 0;
  padding: 0 0 20px 0; }
  p .scrolltop {
    color: #ccc; }

.character-title {
  font-size: 95%;
  color: #aba5a5; }

.character-realm {
  color: #a66363; }

table tr td:first-child {
  width: 90px; }

table tr td.no-guild {
  width: inherit; }

#panel {
  background: #555;
  color: #fff;
  box-shadow: 0 3px 3px #ccc;
  position: relative;
  min-height: 0; }
  #panel a:hover {
    color: #fff; }
  #panel .col-wrap {
    padding: 16px 20px 0px 20px;
    width: 625px; }
  #panel .col-wrap {
    margin: 0 auto; }

#control-wrap {
  width: 780px;
  position: relative;
  height: 3px;
  margin: 0 auto; }
  #control-wrap a.toggle {
    position: absolute;
    top: -4px;
    right: 0;
    box-shadow: 0 3px 3px #ccc;
    width: 95px;
    height: 20px;
    padding: 6px 0 0 0;
    background: #555 url(../images/arrow_expand_collapse.png) no-repeat 5px 2px;
    display: block;
    overflow: hidden;
    font-size: 9px;
    text-transform: uppercase;
    color: #ccc;
    text-decoration: none;
    border-radius: 3px; }
  #control-wrap a.toggle span {
    display: block;
    margin: -2px 0 0 26px; }
  #control-wrap a.toggle:hover {
    color: #eee; }
  #control-wrap .active {
    background-position: 5px -28px; }

/*# sourceMappingURL=app.css.map */
